<!-- This page is under TODO at the moment. -->

<div class="media">
  <div class="media-left media-middle">
    <%= image_tag("aliens/tech.png") %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= subreddit.title %></h4>
    <p>Thread 1 Subreddit</p>
    <p>Thread 1 Description</p>
  </div>
</div>