<h1>Update your preference!</h1>
<div class="accordion">
    <div class="panel-group">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseOne">Sports</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <label class="checkbox"><input type="checkbox" value="">1</label>
                <label class="checkbox"><input type="checkbox" value="">2</label>
                <label class="checkbox"><input type="checkbox" value="">3</label>
                <label class="checkbox"><input type="checkbox" value="">4</label>
                <label class="checkbox"><input type="checkbox" value="">5</label>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseTwo">Gaming</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <label class="checkbox"><input type="checkbox" value="">1</label>
                <label class="checkbox"><input type="checkbox" value="">2</label>
                <label class="checkbox"><input type="checkbox" value="">3</label>
                <label class="checkbox"><input type="checkbox" value="">4</label>
                <label class="checkbox"><input type="checkbox" value="">5</label>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseThree">News</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <label class="checkbox"><input type="checkbox" value="">1</label>
                <label class="checkbox"><input type="checkbox" value="">2</label>
                <label class="checkbox"><input type="checkbox" value="">3</label>
                <label class="checkbox"><input type="checkbox" value="">4</label>
                <label class="checkbox"><input type="checkbox" value="">5</label>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseFour">Science</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <label class="checkbox"><input type="checkbox" value="">1</label>
                <label class="checkbox"><input type="checkbox" value="">2</label>
                <label class="checkbox"><input type="checkbox" value="">3</label>
                <label class="checkbox"><input type="checkbox" value="">4</label>
                <label class="checkbox"><input type="checkbox" value="">5</label>
            </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseFive">Movies</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <label class="checkbox"><input type="checkbox" value="">1</label>
                <label class="checkbox"><input type="checkbox" value="">2</label>
                <label class="checkbox"><input type="checkbox" value="">3</label>
                <label class="checkbox"><input type="checkbox" value="">4</label>
                <label class="checkbox"><input type="checkbox" value="">5</label>
            </div>
        </div>
	</div>
</div>
<button type="button" class="btn">Save</button>